
@model List<People>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach(var people in Model)
{
    <h2> @people.Name </h2>
    <h3> @people.Id </h3>
        <h4> @people.City </h4>
}